.form {
  display: inline-flex;
  min-width: 320px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.651);
  border-radius: 10px;
}

.box_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  display: block;
  padding: 10px;
  margin-top: 10px;
  width: 250px;
  border-radius: 10px;
  border: none;
  font-family: "Marck Script";
  font-size: 20px;
}
input::placeholder {
  font-family: "Marck Script", cursive;
}
.input:hover,
.input:focus,
.input:active {
  outline: none;
  border: none;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
.title {
  font-size: 20px;
  padding-bottom: 10px;
  text-align: start;
  padding-left: 10px;
}

.button {
  padding: 5px;
  border-radius: 10px;
  border-color: white;
  background-color: inherit;
  outline: none;
  font-size: 20px;
  font-family: "Marck Script";
}
.button:hover,
.button:focus,
.button:active {
  box-shadow: 0 0 10px rgb(152, 85, 184);
  outline: none;
  border-color: inherit;
}
